<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title> Вход в аккаунт </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/images/MarketPlace.css" type="text/css" />
 
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="header-links">
      <p> <a href="/">Главная</a> | <a href="#">О сайте</a> |
	  
	  </p>
    </div>
  </div>
  <div id="header-photo">
    <p>&nbsp;</p>
    <h2 id="slogan">Лучший сайт для поиска работы, товара или услуги!</h2>
  </div>
 
<div id="content-wrap" class="two-col"  >
    <div id="sidebar">
      <h1>Меню</h1>
      <ul class="sidemenu">
		<li><a class="title" href="/">Главная</a></li>
		<li><a class="title" href="/board/registration/">Регистрация</a></li>
		<li><a class="title" href="/board/login/">Войти в аккаунт</a></li>
		<li><a class="title" href="/board/feedback/">Задать вопрос</a></li>
		<li><a class="title" href="/catalog/index/">Каталог фирм</a></li>
		<li><a class="title" href="/board/articles/">Полезные статьи</a></li>
	  </ul>
	</div>
<div id="main">
	<div align="center">
		<h1>Страница недоступна!</h1>
		<h1>Извините, запрошенная страница недоступна из-за неполадок на сервере.</h1>
		<p><a href="/">Вернуться на главную</a></p>
	</div>
	
</div>
 </div>
  <div id="footer-wrap">
    <div id="footer">
      <p>&copy; 2015 <strong>Best buy now - best-buy-now.ru</strong> | Design by: <a href="http://www.styleshout.com/">styleshout</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/">Главная</a>&nbsp;|&nbsp; <a href="#">О сайте</a></p>
    </div>
  </div>
</div>
</body>
</html>